.container {
    display: flex;
    justify-content: center;
}

.grid {
    width: 300px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: yellowgreen;
}

.grid div {
    height: 30px;
    width: 30px;
}

.tetromino {
    background-color: blueviolet;
}

.mini-grid {
    margin-left: 50px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: darkred;
}


.mini-grid div {
    height: 25px;
    width: 25px;
}